<div>
  <h1 class=a>Sublease</h1>
</div>

<div class="topnav">
  <nav>
    <a routerLink="/explore" routerLinkActive="active" >Expolre</a>
    <a routerLink="/postApartment" routerLinkActive="active">post Apartment </a>
    <a >My Post</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a >Contact</a>
    <a >About</a>
    <a class=b routerLink="/login" routerLinkActive="active">Log In</a>
    <a class=b routerLink="/signin" routerLinkActive="active" >Sign Up</a>
    </nav>
  </div>

  <router-outlet></router-outlet>
  <!-- Routed components go here -->